<ion-toolbar>
  <ion-title>{{ title }}</ion-title>

  <ion-buttons slot="end">
    <ion-chip class="stat-chip">
      <ion-icon
        name="trophy"
        color="warning"
        *ngFor="let i of levels"
      ></ion-icon>
      <ion-label>Lv <span class="stat-value">{{ level }}</span></ion-label>
    </ion-chip>
    <ion-chip class="stat-chip">
      <ion-icon name="star" color="primary"></ion-icon>
      <ion-label class="stat-value">{{ score$ | async }}</ion-label>
    </ion-chip>

    <ion-button
      class="pause-button"
      [attr.aria-label]="isMuted ? 'Activar sonido' : 'Silenciar'"
      (click)="onToggleSound()"
    >
      <ion-icon
        [name]="isMuted ? 'volume-mute' : 'volume-high'"
        aria-hidden="true"
      ></ion-icon>
    </ion-button>

    <ion-button
      class="pause-button"
      aria-label="Pausa"
      (click)="onPauseOrPlay()"
    >
      <ion-icon name="pause" aria-hidden="true"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>
